@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#components-form-demo-validate-other .dropbox {
  height: 180px;
  line-height: 1.5;
}

Table {
  margin-left: 50;
  margin-right: 50;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}